<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>

  <%= yield %>
</body>
</html>
